extends ../layout/site

block main
    - var definition = entries.types[params.type]
    .entry-type
        .title Edit #{definition.name}
        if definition.description
            .description= definition.description

    if definition.maximum !== 1
        a.pure-button.button-list(href='../list') All #{definition.plural}
        a.pure-button.button-add(href='../create') Add New #{definition.name}

    form.pull-right(method='post', action='../delete/#{entry.id}')
        button.pure-button.button-delete(type='submit', onclick='return confirm("Are you sure?");') Delete #{definition.name}

    include entry-form
    +entry-form('Save Changes to ' + definition.name)
