extends ../layout/site

block list
    - var definition = entries.types[params.type]

    .entry-type
        if definition.plural
            .title= definition.plural
        else
            .title= definition.name
        if definition.description
            .description= definition.description

    .fancy-list(data-list-value-names="title,filepath,created,modified")
        if list.length > 1
            .pure-form.search-form
                input.search(placeholder='Search ' + definition.plural, type='search')
                select.sort
                    option(value="title") Sort by Title
                    option(value="subtitle") Sort by Subtitle
                    option(value="filepath") Sort by File Name 
                    option(value="created") Sort by Created
                    option(value="modified") Sort by Updated
        
        if !definition.maximum || definition.maximum > list.length
            a.pure-button.button-add(href='create')
                | Add a New #{definition.name}

        ul.list.entry-list
            each item in list
                - var buttonStyle = 'button-edit'
                if item.locked
                    - buttonStyle = 'button-unlock'
                if entry && entry.id == item.id
                    - buttonStyle += ' active'
                li.item(id='entry-' + item.id)&attributes({'class': buttonStyle})
                    .hidden.filepath= item.filepath
                    .hidden.created= item.createdIso
                    .hidden.modified= item.modifiedIso
                    a(href=baseUrl + 'edit/' + item.id)
                        strong.title= item.title
                        if item.subtitle
                            em.subtitle= item.subtitle
                        if item.locked
                            em.lock Locked by #{item.locked}
                        em Created #{item.createdFromNow}
                        em Updated #{item.modifiedFromNow}
