extends ../layout/site

block main
    - var definition = entries.types[params.type]

    .entry-type
        if definition.plural
            .title= definition.plural
        else
            .title= definition.name
        if definition.description
            .description= definition.description
        
    a.pure-button.button-add(href='create')
        | Add a New #{definition.name}

    .fancy-list(data-list-value-names="title,created,modified")
        .pure-form.search-form
            input.search(placeholder='Search ' + definition.plural, type='search')
            button.sort.pure-button.button-sort(data-sort='title') Title
            button.sort.pure-button.button-sort(data-sort='filepath') File Name 
            button.sort.pure-button.button-sort(data-sort='created') Created
            button.sort.pure-button.button-sort(data-sort='modified') Updated
        
        ul.list
            each item in list
                li.item.button-edit
                    .hidden.filepath= item.filepath
                    .hidden.created= item.created
                    .hidden.modified= item.modified
                    a(href='edit/' + item.id)
                        strong.title= item.title
                        if item.subtitle
                            em.subtitle= item.subtitle
                        em Created #{item.createdFromNow}
                        em Updated #{item.modifiedFromNow}
