extends ../layout/site

block list
    - var definition = entries.types[params.type]

    .entry-type
        if definition.plural
            .title= definition.plural
        else
            .title= definition.name
        if definition.description
            .description= definition.description

    .fancy-list
        if list.length > 1
            .pure-form.search-form
                input.search(placeholder='Search ' + definition.plural, type='search')
                select.sort
                    option(value=".title asc") Title (A-Z)
                    option(value=".title desc") Title (Z-A)

                    option(value=".subtitle asc") Subtitle (A-Z)
                    option(value=".subtitle desc") Subtitle (Z-A)

                    option(value=".created desc") Created (new-old)
                    option(value=".created asc") Created (old-new)

                    option(value=".updated desc") Updated (new-old)
                    option(value=".updated asc") Updated (old-new)
        
        if !definition.maximum || definition.maximum > list.length
            a.pure-button.button-add(href='create')
                | Add a New #{definition.name}

        ul.list.entry-list
            each item in list
                - var buttonStyle = 'button-edit'
                if item.locked
                    - buttonStyle = 'button-unlock'
                if entry && entry.id == item.id
                    - buttonStyle += ' active'
                li.item(id='entry-' + item.id)&attributes({'class': buttonStyle})
                    .searchable.hidden.filepath= item.filepath
                    .hidden.created= item.createdIso
                    .hidden.modified= item.modifiedIso

                    a(href=baseUrl + 'edit/' + item.id)
                        strong.searchable.title= item.title
                        if item.subtitle
                            em.searchable.subtitle= item.subtitle
                        if item.locked
                            em.lock Locked by #{item.locked}
                        em Created #{item.createdFromNow}
                        em Updated #{item.modifiedFromNow}
