extends ../layout/site

block main
    - var definition = entries.types[params.type]

    .entry-type
        if definition.plural
            .title= definition.plural
        else
            .title= definition.name
        if definition.description
            .description= definition.description
        
    a.pure-button.button-add(href='create')
        | Add a New #{definition.name}

    .fancy-list(data-list-value-names="title,filepath,created,modified")
        .pure-form.search-form
            input.search(placeholder='Search ' + definition.plural, type='search')
            button.sort.pure-button.button-sort(data-sort='title') Title
            button.sort.pure-button.button-sort(data-sort='filepath') File Name 
            button.sort.pure-button.button-sort(data-sort='created') Created
            button.sort.pure-button.button-sort(data-sort='modified') Updated
        
        ul.list.entry-list.js-masonry(data-masonry-options='{"itemSelector":".item"}')
            each item in list
                - var buttonStyle = 'button-edit'
                if item.locked
                    - buttonStyle = 'button-unlock'
                li.item(id='entry-' + item.id)&attributes({'class': buttonStyle})
                    .hidden.filepath= item.filepath
                    .hidden.created= item.createdIso
                    .hidden.modified= item.modifiedIso
                    a(href='edit/' + item.id)
                        strong.title= item.title
                        if item.subtitle
                            em.subtitle= item.subtitle
                        if item.locked
                            em.lock Locked by #{item.locked}
                        em Created #{item.createdFromNow}
                        em Updated #{item.modifiedFromNow}
