label(for=field.id + '-date', class='datetime-label') #{field.label}
input(id=field.id + '-date', name=field.fieldName + '[date]', value=field.date, type='date')
input(id=field.id + '-time', name=field.fieldName + '[time]', value=field.time, type='time')
