- var fieldDate = moment(field.value)

label(for=field.id + '-date', class='datetime-label') #{field.label}
input(id=field.id + '-date', name=field.fieldName + '[date]', value=fieldDate.format('YYYY-MM-DD'), type='date')
input(id=field.id + '-time', name=field.fieldName + '[time]', value=fieldDate.format('h:mm:ss A'), type='time')
