include input
+input('file')

mixin existing(filename, index)
    - var parts = ['../file', field.entry.id, field.name];
    if index
        - parts.push(index + 1)
    .drop-down= filename
        .drop-down-items
            a.pure-button.button-download(href=parts.join('/'), target='_blank') View File
            .switch.on-off
                input(id=field.id + '-deleted', type='checkbox', name=field.fieldName + '[deleted][]', value=filename)
                label(for=field.id + '-deleted')
                    .off.button-okay Keep File
                    .on.button-delete Delete File

if Array.isArray(field.value)
    each filename, index in field.value
        +existing(filename, index)
else if field.value
    +existing(field.value)
