label(for=field.id)= field.label
select(id=field.id, name=field.fieldName)
    each optionLabel, optionValue in field.options
        if (optionValue == field.value)
            option('selected', value=optionValue)= optionLabel
        else
            option(value=optionValue)= optionLabel 
